:root {
  --docs-primary-light: #8324ab;
  --docs-primary-dark: #d4b797;
  --docs-dark: #8324ab;
  --docs-background: #ffffff;
  --docs-text-color: #2c3e50;
  --docs-border-color: #eaecef;

  --docs-note-text: var(--docs-black) !important;
  --docs-note-bg: #d4b797 !important;
  --docs-code-bg: #d4b797;
  --docs-pre-bg: #17051B;
}

:root[data-theme="dark"] {
  --docs-background: #121212;
  --docs-dark: #212121;
  --docs-text-color: #e0e0e0;
  --docs-primary-dark: #a480ff;
  --docs-primary-light: #9968c7;
  --docs-border-color: #333333;
  
  --docs-code-bg: #2e2e3e;
  --docs-pre-bg: #1e1e2e;
  --docs-note-text: var(--docs-white) !important;
  --docs-note-bg: var(--docs-pre-bg) !important;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --docs-background: #121212;
    --docs-dark: #212121;
    --docs-text-color: #e0e0e0;
    --docs-primary-dark: #a480ff;
    --docs-primary-light: #9968c7;
    --docs-border-color: #333333;
    
    --docs-code-bg: #2e2e3e;
    --docs-pre-bg: #1e1e2e;
    --docs-note-text: var(--docs-white) !important;
    --docs-note-bg: var(--docs-pre-bg) !important;
  }
}